@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* fonti */
/* header
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    
}

.logo{
    cursor: pointer;
    height: 80px;
    
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: darkred;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:green;
}

/* perfundimi i headerit 
*/

/* fillimi i main
*/
body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}

.about-section{
    background: url(../images/backgroundimage.jpg   ) no-repeat left;
    width: 100%;
    height: 130vh;
    background-color: #edf0f1;
    overflow: hidden;
    padding: 100px 0;
}

  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}




/* footeri */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    
}
h3,h4, h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    }
.sec_logo{
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.inner-right-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}

/* perfundimi i footerit */

@media only screen and (max-width:800px) {
    /* For tablets: */
    * {
      width: 100%;
    }
    .logo{
        width: 80px;
        height: 40px;
    }
    .nav_links{
        width: auto;
        margin-right: 1px;
    }
    .background-image, h1, p {
        width: 100%;
    }
    .box {
        width: 75%;
    }
    .about-section {
        height: 160vh;
    }
    .sec_logo {
          width: 30px;
          height: 30px;
          display: inline;
      }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    * {
        width: 100%;
      }
      .logo{
          width: 80px;
          height: 40px;
      }
      .nav_links{
          width: auto;
          margin-right: 1px;
      }
      .background-image, h1, p {
          width: 100%;
      }
      .box {
          width: 75%;
      }
      .about-section {
          height: 160vh;
      }
      .sec_logo {
        width: 30px;
        height: 30px;
        display: inline;
    }
