@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); /* fonti */
/* header
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
}

li,
a,
button {
  font-weight: 500;
  font-size: 13px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  height: 80px;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: darkred;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: green;
}

/* perfundimi i header */

/* main */

main {
  width: 100%;
  background-image: url("../images/backgroundimage.jpg");
  padding: 5% 0;
}

.formContainer {
  width: 80%;
  margin: 0 10%;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 5% 10%;
}

.formContainer * {
  background-color: rgba(255, 255, 255, 0.062);
}

form {
  padding: 5% 0;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 45%;
  margin-bottom: 10px;
}

.form-group input,
.form-group select,
.form-select textarea {
  margin: 10px 0;
  padding: 0.5em 1em;
  border-radius: 25px;
}

.form-group input,
.form-select,
.form-select select,
.form-select textarea {
  outline: none;
  width: 100%;
}

.form-group:nth-child(2),
.form-group:nth-child(4) {
  margin-left: 10%;
}

.form-select,
.form-select select {
  width: 100%;
}

#contact-button {
  padding: 1.5em 2em;
  color: white;
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 136, 139, 1);
  transition: all 0.3s ease 0s;
}
#contact-button:hover{
  background-color:green;

}

/* perfundimi i main */

/* footeri */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #edf0f1;
}
.sec_logo {
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.inner-right-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

/* perfundimi i footerit */

@media only screen and (max-width:800px) {
  /* For tablets: */
  * {
    width: 100%;
  }
  .logo{
      width: 80px;
      height: 40px;
  }
  .nav_links{
      width: auto;
      margin-right: 1px;
  }
  .background-image, h1, p {
      width: 100%;
  }
  .formContainer{
    width: auto;
    padding: 1px 20px;
    margin: 5px 10px;
  }
  h3,h4, h5{
      display: block;
      padding: 0px 15px;
  }
  .sec_logo {
      width: 30px;
      height: 30px;
      display: inline;
  }
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  * {
      width: 100%;
    }
    .logo{
        width: 80px;
        height: 40px;
    }
    .nav_links{
        width: auto;
        margin-right: 1px;
    }
    .background-image, h1, p {
        width: 100%;
    }
    .formContainer{
      width: auto;
      padding: 1px 20px;
      margin: 5px 10px;
    }
    h3,h4
    h3,h4, h5{
        display: block;
        padding: 0px 15px;
    }
    .sec_logo {
        width: 30px;
        height: 30px;
        display: inline;
    }
