@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* fonti */
/* header
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    
}

.logo{
    cursor: pointer;
    height: 80px;
    
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: darkred;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:green;
}

/* perfundimi i header */

/* main */

.background-image{
    height: 1000px;
    width: 1500px;
    border-radius: 50px;
    
}
#showcase{
    background-image: url("../images/backgroundimage.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    color: #926239;
}



/* perfundimi i main */



/* footeri */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    
}
h3,h4, h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    }
.sec_logo{
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.inner-right-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}

/* perfundimi i footerit */