@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* fonti */
/* header
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    height: 80px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: darkred;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:green;
}

/* perfundimi i header */